From Age:
<select #fromAge>
    <option *ngFor="let age of ages" [value]="age">{{age}}</option>
</select>
To Age:
<select #fromAge>
    <option *ngFor="let age of ages" [value]="age">{{age}}</option>
</select>
<button (click)="search_customer_by_age(fromAge.value, toAge.value)">Filter</button>
<table border="1">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Picture</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of customers">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.age}}</td>
            <td>
                <img src = "{{c.picture}}" height = "100" width="100"/>
            </td>
        </tr>
    </tbody>
</table>